.nav {
  background-color: #f86624;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0 1rem;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-logo {
  font-size: 2.5rem;
}

.nav-links {
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links li {
  list-style: none;
  font-size: 1.5rem;
}

.nav .nav-logo,
.nav .nav-link {
  color: inherit;
  text-decoration: none;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0.5rem;
}

.nav-links li:active {
  background-color: #a54018;
}

.nav-links li:hover {
  background-color: #cc521e;
}

.nav-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.nav-toggle .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.nav .download,
.nav .docs,
.nav .forums,
.nav .help {
  text-decoration: line-through;
}

@media (max-width: 600px) {
  .nav-toggle {
    display: flex;
    cursor: pointer;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
  }

  .nav-links {
    display: none;
    width: 100%;
    align-items: center;
  }

  .nav-links.active {
    display: flex;
  }
}
