.primary {
  color: white;
  width: 50%;
  height: 100vh;
  font-size: 7rem;
  text-align: center;
}

.primary h1,
.primary p {
  width: 100%;
  text-align: center;
}

.primary h1 {
  margin-bottom: 0;
}

.primary p {
  margin-top: 0;
}

.primary button {
  background-color: #f86624;
  color: white;
  border-radius: 5px;
  padding: 1rem;
  font-size: larger;
  cursor: pointer;
  
}

.primary a:hover {
  background-color: #cc521e;
}

@media (max-width: 1400px) {
  .primary {
    font-size: 6rem;
    width: 100%;
  }

  .primary button {
    font-size: 3rem;
  }
}
