.primary {
  color: white;
  width: 50%;
  font-size: 4rem;
  text-align: center;
}

.primary h1,
.primary p {
  width: 100%;
  text-align: center;
}

.primary h1 {
  margin-bottom: 0;
}

.primary p {
  margin-top: 0;
}

.primary a {
  width: 25vw;
  text-decoration: none;
  margin: 0 auto;
  background-color: #f86624;
  color: white;
  border-radius: 5px;
  padding: 1rem;
  font-size: larger;
  cursor: pointer;
}

.primary a:hover {
  background-color: #cc521e;
}
