:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	background-color: #1a293f;
}

* {
	margin: 0;
	padding: 0;
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #233653;
	padding: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #233653;
	width: '90%';
	margin: 5px;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #121d2c;
}
